<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <file>/var/log/moon/moon.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>moon.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>100</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file.dbg" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/moon/moon.dbg.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>moon.dbg.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>200</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">  <!-- NOTE: set to debug for file.dbg!, warn for training! -->
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <!-- appender-ref ref="file.dbg"/ -->
  </root>

</configuration>
